<section class="pt-5" id="Portfolio">
    <div class="container-fluid">
        <div class="row">

            <div class="col text-black-50">
                <h2 class=" text-uppercase text-center fs-3"><span
                        class="d-block p-2 text-black-50 border border bottom-secondary bg-light"> Proyectos </span>
                </h2>
            </div>

            <div class="row bg-light py-3 ms-xl-5 ms-md-2 ms-sm-2 me-auto">

                <div class="col-sm-6 col-md-6 col-xl-3  me-auto">
                    <figure>
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target=".modal-xl">
                            <img src="../../../assets/portfolioDinamico.png" alt="imagen portfolio dinámico" width="396"
                                height="299" class="img-fluid">
                        </button>
                        <figcaption>
                            <h3>Portfolio Web Dinámico</h3>
                            <p> Portfolio terminado para el curso de Argentina Programa, dividido Front de Back y con
                                los datos en BDD.
                                Dado que esta subido en tres servidores distintos, la carga completa del portfolio es
                                algo lenta.
                                El Login funciona, permite editar los datos de las distintas secciones.
                            </p>
                            <a href="https://front-portfolio-7cfaf.web.app/" alt="link hacia el portfolio" target="_blank">ir al
                                portfolio</a>
                        </figcaption>
                    </figure>
                    <div div class="modal fade modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <img src="../../../assets/portfolioDinamico.png" alt="imagen portfolio dinámico"
                                            width="1090" height="600" class="img-fluid">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xl-3  me-auto">
                    <figure>
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target=".bd-1-modal-xl">
                            <img src="../../../assets/Scratch.png" alt="imagen juego scratch" width="396"
                                height="299" class="img-fluid">
                        </button>
                        <figcaption>
                            <h3>Scratch</h3>
                            <p>Proyecto realizado para la materia "Fundamentos de la programación", 
                                de la carrera Ingeniería en Informática. Es una replica del juego "Frogger" de 1981.
                            </p>
                            <a href="https://github.com/DavidGinaca/Tp-facultad-Scrach" alt="link hacia el repositorio del juego" target="_blank">ir al
                                código</a>
                        </figcaption>
                    </figure>
                    <div div class="modal fade bd-1-modal-xl" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <img src="../../../assets/Scratch.png" alt="imagen juego scratch"
                                            width="1090" height="600" class="img-fluid">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xl-3  me-auto">
                    <figure>
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target=".bd-2-modal-xl">
                            <img src="../../../assets/primerdinamico.png" alt="imagen front dinámico" width="396"
                                height="299" class="img-fluid">
                        </button>
                        <figcaption>
                            <h3>Front Web Dinámico</h3>
                            <p>	Primer prototipo con distinto Front, para el proyecto final de Portfolio de "Argentina Programa"
                            </p>
                            <a href="https://github.com/DavidGinaca/Front-Portfolio-en-Angular" alt="link hacia el portfolio" target="_blank">ir al
                                código</a>
                        </figcaption>
                    </figure>
                    <div div class="modal fade bd-2-modal-xl" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <img src="../../../assets/primerdinamico.png" alt="imagen front dinámico"
                                            width="1090" height="600" class="img-fluid">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xl-3  me-auto">
                    <figure>
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target=".bd-3-modal-xl">
                            <img src="../../../assets/estatico.png" alt="imagen portfolio estático" width="396"
                                height="299" class="img-fluid">
                        </button>
                        <figcaption>
                            <h3>Portfolio Web Estático</h3>
                            <p> Portfolio estático, sin lógica, este fue el "esqueleto" el cual se armo luego el portfolio final.
                            </p>
                            <a href="https://github.com/DavidGinaca/portfolio_frontend_web_estatico" alt="link hacia el repositorio" target="_blank">ir al
                                código</a>
                        </figcaption>
                    </figure>
                    <div div class="modal fade bd-3-modal-xl" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <img src="../../../assets/estatico.png" alt="imagen portfolio dinámico"
                                            width="1090" height="600" class="img-fluid">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xl-3  me-auto">
                    <figure>
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target=".bd-4-modal-xl">
                            <img src="../../../assets/mardeltortillas.png" alt="imagen portfolio estático" width="396"
                                height="299" class="img-fluid">
                        </button>
                        <figcaption>
                            <h3>Pagina Tortillas</h3>
                            <p> Proyecto creado para vendedor de tortillas.
                            </p>
                            <a href="https://mardeltortillas-61673.firebaseapp.com/" alt="link hacia el repositorio" target="_blank">ir al
                                proyecto</a>
                        </figcaption>
                    </figure>
                    <div div class="modal fade bd-4-modal-xl" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <img src="../../../assets/mardeltortillas.png" alt="imagen portfolio dinámico"
                                            width="1090" height="600" class="img-fluid">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xl-3  me-auto">
                    <figure>
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target=".bd-5-modal-xl">
                            <img src="../../../assets/abogados.png" alt="imagen estudio abogados" width="396"
                                height="299" class="img-fluid">
                        </button>
                        <figcaption>
                            <h3>Pagina Estudio de Abogados</h3>
                            <p> Proyecto para estudio de abogados.
                            </p>
                            <a href="https://estudiofaienza.firebaseapp.com/" alt="link hacia el repositorio" target="_blank">ir al
                                proyecto</a>
                        </figcaption>
                    </figure>
                    <div div class="modal fade bd-5-modal-xl" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <img src="../../../assets/abogados.png" alt="imagen portfolio dinámico"
                                            width="1090" height="600" class="img-fluid">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xl-3  me-auto">
                    <figure>
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target=".bd-6-modal-xl">
                            <img src="../../../assets/BDD.png" alt="imagen códigos" width="396"
                                height="299" class="img-fluid">
                        </button>
                        <figcaption>
                            <h3>Base de Datos para Biblioteca</h3>
                            <p> Tp de la materia "base de datos" de la carrera de Técnico en 
                                Programación del Instituto Superior Teclab. Se creo una base de datos para una biblioteca
                            </p>
                            <a href="https://github.com/DavidGinaca/tp_biblioteca_postgressql/blob/main/query" alt="link hacia el repositorio" target="_blank">ir al
                                código</a>
                        </figcaption>
                    </figure>
                    <div div class="modal fade bd-6-modal-xl" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <img src="../../../assets/BDD.png" alt="imagen códigos"
                                            width="1090" height="600" class="img-fluid">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</section>