<footer>
    <div class="container bg-warning text-secondary bg-opacity-25 fs-6 py-3">
        <div class="row  d-flex justify-content-between fst-italic text-center ">
            <div class="col-sm-3  col-md-3  col-xl-3 ms-sm-1 ms-md-4">
                <p> <small>David Emiliano Ginaca Nieto </small> </p>
            </div>

            <div class="col-sm-5 col-md-3  col-xl-3 ms-sm-3 ms-md-auto md-align-items-center">
                <p> <small> Desarrollador Web FullStack Jr. </small> </p>
            </div>

            <div class="col-sm-3 col-md-3 col-xl-3 ms-sm-1 ms-md-auto xl-align-items-center ">
                <ul>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/davidginaca/" target="new"><img src="../../../assets/insta.png" alt="link logo instagram"></a>
                        <a href="https://www.linkedin.com/in/david-emiliano-ginaca-backend" target="new"><img src="../../../assets/linkedin.png" alt="link logo a linkedin"></a>
                        <a href="https://github.com/DavidGinaca?tab=repositories" target="new"><img src="../../../assets/github.png" alt="link logo github"></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>