<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid bg-light">
      <a class="navbar-brand" href=""> <img src="../../../assets/logo.jpg" alt="logo personal"
              width="63" height="62" class="rounded-circle fluid mx-5"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navegacion"
          aria-controls="navegacion" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navegacion">
          <ul class="navbar-nav ms-auto me-5">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="educacion">Education</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="experiencia">Experience</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="habilidades">Skills</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="portfolio">Projects</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="contacto">Contact</a>
              </li>
          </ul>
      </div>
  </div>
</nav>