<header id="Inicio" class="pt-5 pb-3">
    <div class="container-fluid mt-5 ms-4">
        <div class="row pt-5">
            <div class="col-sm-4 col-md-4 col-xl-4 ms-auto me-0">
                <figure> <img src="../../../assets/fotoperfil.jpg" alt="foto de perfil" width="320"
                        height="404" class="img-fluid img-thumbnail px-10"> </figure>
            </div>

            <div class="col-sm-6 col-md-6 col-xl-6 text-black-50 regular-shadow ms-ms-3 me-auto">
                <h1 class="text-black-80 fs-3 pt-2"> David Emiliano Ginaca Nieto </h1>
                <h2 class="text-black-80 fs-4"> FullStack Web Developer Jr.</h2>
                
                <h3 class="fs-5 text-wrap md-fs-6">About me... </h3>
                <p style="text-indent: 2em;">
                    Hi! I'm David, a 37-year-old technology enthusiast. Throughout my professional life, 
                    I have explored both the culinary and IT worlds, finding passion and success in both fields.
                </p>
                <p style="text-indent: 2em;">
                    My career began in the restaurant industry, where over many years I developed solid skills in teamwork and customer service. 
                    For 7 years, I owned my own establishment, where I learned the importance of close customer relations and efficient business
                    management. In addition, I learned to perform maintenance tasks in the areas of water, gas, 
                    sewage, electricity, as well as machinery repair.
                </p>
                <p style="text-indent: 2em;">
                    However, my true passion has always been IT. I am currently in my third year
                    of studying computer engineering, where I have deepened my knowledge in programming,
                    systems and technology. In addition, I have complemented my training with the full stack web developer
                    course in Argentina, where I acquired practical skills in web development.
                </p>
                <p style="text-indent: 2em;">
                    In 2023, I had the honor of spending six months teaching introductory web programming 
                    classes at the CILSA ONG, where I worked with people with and without disabilities. This experience
                    taught me the importance of inclusion and accessibility in technology, and allowed me to share my passion for 
                    programming with others, in addition to leading the IT sector of the branch located in Mar del Plata.
                </p>
                <p style="text-indent: 2em;">
                    My goal is to combine my IT skills with my business experience to create
                    innovative solutions that improve the user experience and contribute to the success of companies
                    in the digital world.
                </p>
                <p style="text-indent: 2em;">
                    I am excited about the opportunities that the future holds and 
                    am committed to continuing to grow and learn in this exciting field of technology.
                </p>

                <div class="d-flex justify-content-end pb-2">                    
                    <button  class="btn bg-transparent border-2 border-secondary text-secondary py-2 me-5 " (click)="downloadPDF()">Cv en pdf</button >                    
                    <a href="https://wa.me/623558202" class="btn bg-transparent border-2 border-secondary text-secondary py-2 me-5 ">WhatsApp</a>
                </div>           

            </div>
        </div>
    </div>
</header>