<section class="pt-md-2" id="Educación">
    <div class="container pt-5 text-black-50">
        <div class="row">
            <div class="col">
                <h2 class="text-start fs-3 ms-md-4 "> <span
                        class="d-block p-2 text-black-50  border-bottom  bg-light">Educación </span></h2>
            </div>
        </div>

        <div class="row py-3 ms-4">
            <div class="col-sm-6 col-md-6 col-xl-6 pt-2 text-black-50">
                <ul class="list-unstyled">
                    <li>Ingeniería en Informática </li>
                    <li> Universidad Atlántida Argentina.</li>
                    <li> Cursando materias de tercer año. </li>
                </ul>
            </div>

            <div class="col-sm-6 col-md-6 col-xl-6 pt-2 text-black-50">
                <ul class="list-unstyled">
                    <li> Cursos Varios </li>
                    <li> Distintas plataformas</li>
                    <li> "Especialización en Inteligencia Artificial", "Programación desde Cero", "Emprendedurismo para Principiantes",
                        "habilidades comunicativas", Introducción a las Metodologías Ágiles", "Habilidades Blandas", "Liderazgo en el Trabajo".
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-md-6 col-xl-6 pt-2 text-black-50">
                <ul class="list-unstyled">
                    <li> Full-Stack Web Developer Jr. </li>
                    <li>Argentina Programa </li>
                    <li>Finalizada la segunda etapa del plan Argentina Programa, utilizando Angular/ Bootstrap/ MySQL/ TypeScript </li>
                </ul>
            </div>

            <div class="col-sm-6 col-md-6 col-xl-6 pt-2 text-black-50">
                <ul class="list-unstyled">
                    <li> Programador Trainee </li>
                    <li> Argentina Programa</li>
                    <li> Finalizada la primer etapa del plan Argentina Programa.</li>
                </ul>
            </div>

            <div class="col-sm-6 col-md-6 col-xl-6 pt-2 text-black-50">
                <ul class="list-unstyled">
                    <li> Auxiliar en Programación </li>
                    <li> Instituto Técnico Superior Teclab</li>
                    <li> Titulo intermedio de la carrera Técnico Superior en programación.</li>
                </ul>
            </div>
            
        </div>
    </div>
</section>