<section class="pt-5" id="Habilidades">
    <div class="container">
        <div class="row">
            <div class="col text-black-50">
                <h2 class="text-start fs-3 ms-md-4"> <span
                        class="d-block p-2 text-black-50 border-bottom  bg-light">Habilidades</span></h2>
            </div>
        </div>

      

        <div class="row py-3 ms-4 me-xl-auto">
            <div class="col-sm-6 col-md-6 col-xl-3 text-black-50">
             <img src="../../../assets/icons8-html-96.png" alt="icono de html">       
            </div>          
            <div class="col-sm-6 col-md-6 col-xl-3 py-md-1 ms-xl-auto text-black-50">
                <div class="col-sm-6 col-md-6 col-xl-3 text-black-50">
                    <img src="../../../assets/icons8-css-96.png" alt="icono css">       
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xl-3 py-md-1 ms-xl-auto text-black-50">
                <div class="col-sm-6 col-md-6 col-xl-3 text-black-50">
                    <img src="../../../assets/icons8-javascript-96.png" alt="icono javascript">       
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xl-3 py-md-1 ms-xl-auto text-black-50">
                <div class="col-sm-6 col-md-6 col-xl-3 text-black-50">
                    <img src="../../../assets/icons8-angular-96.png" alt="icono angular">       
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xl-3 py-md-1 ms-xl-auto text-black-50">
                <div class="col-sm-6 col-md-6 col-xl-3 text-black-50">
                    <img src="../../../assets/icons8-oreja-96.png" alt="icono bootstrap">       
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xl-3 py-md-1 ms-xl-auto text-black-50">
                <div class="col-sm-6 col-md-6 col-xl-3 text-black-50">
                    <img src="../../../assets/icons8-nodejs-96.png" alt="icono nodejs">       
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xl-3 py-md-1 ms-xl-auto text-black-50">
                <div class="col-sm-6 col-md-6 col-xl-3 text-black-50">
                    <img src="../../../assets/icons8-logotipo-de-primavera-96.png" alt="icono SpringBoot">       
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xl-3 py-md-1 ms-xl-auto text-black-50">
                <div class="col-sm-6 col-md-6 col-xl-3 text-black-50">
                    <img src="../../../assets/icons8-mysql-96.png" alt="icono mysql">       
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xl-3 py-md-1 ms-xl-auto text-black-50">
                <div class="col-sm-6 col-md-6 col-xl-3 text-black-50">
                    <img src="../../../assets/icons8-postgresql-96.png" alt="icono postgresql">       
                </div>
            </div>            
        </div>
    </div>
</section>