<section class="pt-5" id="Experiencia">
    <div class="container">
        <div class="row">
            <div class="col text-black-50">
                <h2 class="text-start fs-3 ms-md-4"><span class="d-block p-2 text-black-50 border-bottom  bg-light">
                        Experiencia Laboral</span> </h2>
            </div>
        </div>

        <div class="row py-4 ms-4 ">
            <div class="col-sm-6 col-md-6 col-xl-6 text-black-50">
                <h3 class="fs-5">Educador de la sucursal de Mar del Plata</h3>
                <h4 class="fs-6">C.I.L.S.A ONG por la inclusión</h4>
                <ul class="list-unstyled">
                    <li> Desde Junio 2023 hasta Enero 2024</li>
                    <li> Tareas administrativas y manejo de agendas de consultorio de hasta 6 profesionales </li>
                    <li> Capacitador dentro del programa de formacion profesional. Encargado de dar los cursos presenciales y virtuales de 
                        <ul>
                            <li>Operador de Pc</li>
                            <li>Microsoft Office</li>
                            <li>Introducción a la Programación Web (Front-end)</li>
                            <li>javaScript Intensivo (Front-end)</li>
                            <li>Introdicción a las Bases de Datos (postgresSQL)</li>
                        </ul>
                    </li>
                </ul>

                <h3 class="fs-5 pt-1"> Dueño</h3>
                <h4 class="fs-6"> Lavadero de Ropa "Chuavechito" </h4>
                <ul class="list-unstyled">
                    <li> Desde Febrero 2014 hasta Enero 2022</li>                    
                    <li> Alquile el fondo de comercio durante siete años. Manejo completo el local, proveedores, empleados, atención al publico</li>
                </ul>
            </div>

            <div class="col-sm-6 col-md-6 col-xl-6 text-black-50">
                <h3 class="fs-5"> Cajero, Encargado de local</h3>
                <h4 class="fs-6"> Punta Marina</h4>
                <ul class="list-unstyled">
                    <li> Desde Diciembre 2012 hasta Febrero 2014</li>
                    <li> Trabajo de cajero y  encargado en el restaurante punta marina, 
                        manejo de proveedores, cierre y apertura de caja, ademas realice tareas varias en el 
                        establecimiento como: ayudante de cocina, bachero, mozo,metre.</li>
                    
                </ul>
            </div>

        </div>

    </div>
</section>