<section class="pt-5" id="Experiencia">
    <div class="container">
        <div class="row">
            <div class="col text-black-50">
                <h2 class="text-start fs-3 ms-md-4"><span class="d-block p-2 text-black-50 border-bottom  bg-light">
                    Work Experience</span> </h2>
            </div>
        </div>

        <div class="row py-4 ms-4 ">
            <div class="col-sm-6 col-md-6 col-xl-6 text-black-50">
                <h3 class="fs-5">Educator from the Mar del Plata branch</h3>
                <h4 class="fs-6">C.I.L.S.A ONG por la inclusión</h4>
                <ul class="list-unstyled">
                    <li> From June 2023 to January 2024</li>
                    <li> Administrative tasks, IT sector management, updating course syllabus, managing the branch
                        database, setting up the classroom and maintaining its computers, registering and deregistering
                        students. </li>
                    <li> Responsible for giving in-person and virtual courses on
                        <ul>
                            <li>PC Operator</li>
                            <li>Microsoft Office</li>
                            <li>Introduction to Web Programming (Front-end)</li>
                            <li>Intensive JavaScript (Front-end)</li>
                            <li>Introduction to Databases (postgresSQL)</li>
                        </ul>
                    </li>
                </ul>

                <h3 class="fs-5 pt-1"> Owner</h3>
                <h4 class="fs-6"> "Chuavechito" Laundry </h4>
                <ul class="list-unstyled">
                    <li> From February 2014 to January 2022</li>
                    <li> I rented the business for seven years. Complete management of the premises, suppliers,
                        employees, customer service, machine repair, installation of water,
                        electricity and sewage services, assembly of sectors with plasterboard</li>
                </ul>
            </div>

            <div class="col-sm-6 col-md-6 col-xl-6 text-black-50">
                <h3 class="fs-5">Maintenance work</h3>
                <h4 class="fs-6">Autonomo</h4>
                <ul class="list-unstyled">
                    <li>From February 2014 to January 2022</li>
                    <li>Repair of industrial washing machines and dryers (Maytag, SpeedQueen,
                        among others).
                        Installation of water and gas pipes with thermofusion, assembly and
                        repair of sewers, various plumbing work.
                        General household electricity. Knowledge of masonry, assembly of
                        plasterboard structures
                    </li>
                </ul>

                <h3 class="fs-5">Cashier, Store Manager</h3>
                <h4 class="fs-6">Punta Marina</h4>
                <ul class="list-unstyled">
                    <li>From December 2012 to February 2014</li>
                    <li>Worked as a cashier and manager at the Punta Marina restaurant,
                        handling suppliers, closing and opening the cash register, and also performed various tasks in
                        the
                        establishment such as: kitchen assistant, waiter, waiter, waitress.</li>
                </ul>
            </div>

        </div>

    </div>
</section>